---
const pageTitle = "Sobre mi";

const identity = {
  firstName: "Alberto",
  country: "México",
  occupation: "Estudiante",
  hobbies: ["Jugar videojuegos"],
};

const skills = ["HTML", "CSS", "JavaScript",];
---


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
        
	</head>
	<body>
    <a href="/">Inicio</a>
    <a href="/about/">Sobre mi</a>
	<a href="/blog/">Blog</a>

  <h1>Mi sitio Astro</h1>
  <h1>{pageTitle}</h1>
  <h2>Mi sitio con Astro</h2>

  <p>Estoy trabajando en el tutorial</p>

  <p>Este sitio se estara actualizando </p>
</body>
	</body>
</html>